.gaddon-setting-inline {
  display: inline-block;
  line-height: 26px;
}

span.gf_settings_description {
  font-size: smaller;
}

ul.fields-select {
  background-color: #FFF;
  padding: 3px 5px;
  border: 1px solid #E1E1E1;
  min-height: 30px;
}

ul.fields-select li div:not(.move) {
  -webkit-box-flex: 1;
          flex: 1;
}

ul.fields-select li div.move {
  font-weight: bold;
  padding: 0 5px;
  cursor: pointer;
}

ul.fields-select li div.move :hover {
  color: #006799;
}

.ui-sortable-handle {
  cursor: pointer;
  cursor: -webkit-grab;
}

.ui-sortable-helper {
  cursor: -webkit-grabbing;
}

.download-block {
  display: -webkit-box;
  display: flex;
}

.download-block .date-field {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.download-block .date-field input {
  width: 120px;
}

.download-block .date-field button {
  outline: none !important;
}

#tab_filtersets {
  margin: 0;
  color: #364449;
  font-size: 14px;
  line-height: 1.5rem;
}

#tab_filtersets .mr-1 {
  margin-right: 4px;
}

#tab_filtersets .mr-2 {
  margin-right: 8px;
}

#tab_filtersets .gaddon-setting-radio {
  margin-bottom: 5px;
}

#tab_filtersets table.gforms_form_settings th,
#tab_filtersets table.gforms_form_settings strong {
  color: #5c6a70;
  padding: 0.5rem 2rem 0.5rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

#tab_filtersets .gform_panel > h3 {
  padding: 10px 0;
  margin-bottom: 0;
}

#tab_filtersets .gf_settings_description {
  color: #8a9fa8;
  margin-top: 0;
}

#tab_filtersets label {
  color: #8a9fa8;
  font-size: 14px;
  font-weight: normal;
}

#tab_filtersets h4.gf_settings_subgroup_title {
  font-size: 18px;
  font-weight: normal;
  margin: 1rem 0;
}

#tab_filtersets .gaddon-first-section h4.gf_settings_subgroup_title {
  margin-top: 0;
}

#tab_filtersets .gaddon-section {
  padding: 10px 0;
  margin-bottom: 0;
}

#tab_filtersets button,
#tab_filtersets input,
#tab_filtersets select,
#tab_filtersets textarea,
#tab_filtersets .gfexcel_select {
  font-size: 14px;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  height: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 4px;
  margin-right: 4px;
}

#tab_filtersets input,
#tab_filtersets textarea,
#tab_filtersets select {
  border: 1px solid #c4cfd4;
}

#tab_filtersets input:focus,
#tab_filtersets textarea:focus,
#tab_filtersets select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #8a9fa8;
}

#tab_filtersets input[readonly],
#tab_filtersets textarea[readonly],
#tab_filtersets select[readonly] {
  background-color: #e2e7e9;
}

#tab_filtersets input[type=checkbox],
#tab_filtersets input[type=radio] {
  height: 18px;
  width: 18px;
  margin: 0 4px 0 0;
}

#tab_filtersets input[type=checkbox]::before {
  margin: -2px 0 0 -3px;
}

#tab_filtersets input[type=radio]::before {
  margin: 4px;
}

#tab_filtersets input[type=radio] {
  border-radius: 50%;
}

#tab_filtersets .gaddon-setting-radio,
#tab_filtersets .gaddon-setting-checkbox {
  margin-bottom: 0.5rem;
}

#tab_filtersets .gaddon-setting-radio label,
#tab_filtersets .gaddon-setting-checkbox label {
  color: #5c6a70;
  -webkit-box-flex: 1;
          flex: 1;
}

#tab_filtersets .gaddon-setting-radio label,
#tab_filtersets .gaddon-setting-checkbox {
  display: -webkit-box;
  display: flex;
}

#tab_filtersets .gaddon-select {
  width: auto;
}

#tab_filtersets button {
  box-shadow: none;
  outline: none;
}

#tab_filtersets button,
#tab_filtersets input,
#tab_filtersets textarea,
#tab_filtersets select {
  padding: 0.25rem 0.75rem;
}

#tab_filtersets .gfexcel_select {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  border-radius: 0.25rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#tab_filtersets .gfexcel_select .gfexcel_select__arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  background-color: #e2e7e9;
  border-radius: 0 0.2em 0.2em 0;
  display: -webkit-box;
  display: flex;
  color: #5c6a70;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

#tab_filtersets .gfexcel_select select {
  cursor: pointer;
  padding-right: 2.75rem;
  margin: 0;
  z-index: 1;
  box-shadow: none;
  position: relative;
  background: transparent;
}

#gaddon-setting-row-download_url button {
  margin-top: 8px;
  margin-right: 8px;
}

#gaddon-setting-row-download_count div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#gaddon-setting-row-download_count div p {
  margin: 0;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#gaddon-setting-row-download_count div span {
  font-size: 16px;
}

#gaddon-setting-row-download_count div span + span {
  color: #8a9fa8;
  font-size: 14px;
}

#gaddon-setting-row-download_count div button {
  margin-left: 8px;
}

.gaddon-setting-choice-visual {
  text-align: left;
}

.gaddon-setting-choice-visual label {
  border: 1px solid transparent;
  background-color: transparent;
}

.gaddon-setting-choice-visual label br {
  display: none;
}

.gaddon-setting-choice-visual label > span {
  padding: 0.25rem;
  height: auto;
}

.gaddon-setting-choice-visual label > span > i {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  text-align: center;
}

.gaddon-setting-choice-visual input:checked + label {
  border: 1px solid #c4cfd4;
  border-radius: 0.25rem;
}

div.gfexcel_field-sort-fields {
  display: -webkit-box;
  display: flex;
  margin: 0 -10px;
}

div.gfexcel_field-sort-fields > div {
  flex-basis: 50%;
  margin: 0 10px;
}

div.gfexcel_field-sort-fields p {
  margin-bottom: 10px;
}

div.gfexcel_field-sort-fields ul.fields-select {
  border-radius: 4px;
}

div.gfexcel_field-sort-fields ul.fields-select li {
  display: -webkit-box;
  display: flex;
  background-color: #f7f7f7;
  margin: 2px 0;
  padding: 3px;
  -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

div.gfexcel_field-sort-fields ul.fields-select li.light-up {
  background-color: #006799;
  color: #FFF;
}

div.gfexcel_field-sort-fields ul.fields-select li.light-up i {
  color: #fff;
}

div.gfexcel_field-sort-fields ul.fields-select li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

div.gfexcel_field-sort-fields ul.fields-select li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

div.gfexcel_field-sort-fields ul.fields-select .fa-bars {
  color: #DDD;
  margin-right: 5px;
}

div.gfexcel_field-sort-fields ul.fields-select .field {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

div.gfexcel_field-sort-fields ul.fields-select--enabled {
  border: 1px solid #1e8cbe;
}

div.gfexcel_field-sort-fields ul.fields-select--enabled .move i.fa-arrow-right {
  display: none;
}

div.gfexcel_field-sort-fields ul.fields-select--disabled .move i.fa-trash {
  display: none;
}

